* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
 width: 100%;
}

.main{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  color: #333;
  font-family: Arial, sans-serif;
  
}

button{
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #f0f0f0;
}
button:active{
  transform: scale(0.98);
}

.dark{
  background-color: #121212;
  color: #f0f0f0;
}

.btn-dark{
  background-color: blue;
}

.light{
  background-color: #f0f0f0;
  color: #121212;
}